*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: #F3F3F3;

}

nav{
  height: 70px;
  width: 100%;
 ;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

nav .lft{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 10%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .logo img{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  
  
}
nav .link{
  width: fit-content;
  display: flex;
gap: 20px;
padding: 20px;
}
.link a{
  padding: 20px;
  text-decoration: none;
  color:#7A7A7A ;
  font-size: 16px;
  font-weight: 500;
}
button{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: transparent;
 outline: none;
 border: none;
 text-transform: capitalize;
 border-bottom: 1px solid black;
  margin-right: 20px;
}

.hero{
  height: 100%;
  width: 100%;
  padding: 50px;
  justify-content: space-between;
  display: flex;
}
.content{
  height: 100%;
  width: 60%;
 align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}

.content .project-count{
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.img-section{
  
height: 500px;
width: 500px;
  position: relative;
  overflow: hidden;

}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  
 border-radius: 50% ;
  
}

#btn{
  width: fit-content;
  padding: 12px 20px;
  border: none;
  font-size: 14px;
  color: #484848;
}


.task h4{
  font-size: 50px;
  font-weight: 100;
  opacity: 0.8;
}
.task p{
  font-size: 14px;
  font-weight: 200;
  opacity: 0.8;
}
.intro h1{

  font-size: 140px;
  font-weight: 50;
  opacity: 0.7;
}
.intro p{
  font-size: 15px;
  font-weight: 400;
  opacity: 0.7;
}